*{
    list-style: none;
}

nav ul{
    display: flex;
    flex-direction: row;
    gap: 1rem;
    font-size: 1.5em;
}

main ul{
    margin: 16px;
    padding: 16px;
    border: solid 2px bisque;
    border-radius: 1rem;
}
form{
    margin: 16px;
}